{% extends 'base.html.twig' %}

{% block title %}Solutions
{% endblock %}


{% block body %}
	<div class="container mt-5 text-black ">
		<h1 style="color:#263238;" class="fw-bolder" >Les Solutions</h1>
		<h3 style="color:#263238;" class="pt-2">Les solutions de notre réducteur:</h3>
	</div>
	<div class="row mt-5 ms-4 me-4 ">
		<div class="col ">
			<div class="card mb-3 bg-light" style="width: 100%;">
				<div class="row g-0">
					<div class="col-md-8">
						<div class="card-body">
							<p class="card-title text-black text-center fw-bold">Réseaux Sociaux</p>
							<h1 class="card-text text-black  lh-base">Démarquez et connectez sur les réseaux sociaux.</h1>
							<h4 class="card-text">
								<small class="text-black lh-base ">Marquez chaque publication, commentaire et message. Les liens de marque Bitly se démarquent et inspirent la confiance de votre public, attirant plus de clics.</small>
							</h4>
						</div>
					</div>
					<div class="col-md-4">
						<img src="/images/socialmedia.jpg" class="img-fluid rounded-start" alt="...">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-1 ms-4 me-4">
		<div class="col ">
			<div class="card mb-3 text-dark bg-light" style="width: 100%;">
				<div class="row g-0">
					<div class="col-md-8">
						<div class="card-body">
							<p class="card-title text-black text-center fw-bold">Marketing Digital</p>
							<h1 class="card-text text-black lh-base">Meilleurs liens, Meilleurs résultats.</h1>
							<h4 class="card-text">
								<small class="text-black lh-base ">Convertissez les clics en clients avec des liens d'appel à l'action fiables.</small>
							</h4>
						</div>
					</div>
					<div class="col-md-4">
						<img src="/images/digitalmarketing.jpg" class="img-fluid rounded-start" alt="...">
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="row mt-1 ms-4 me-4">
		<div class="col ">
			<div class="card mb-3 text-dark bg-light" style="width: 100%;">
				<div class="row g-0">
					<div class="col-md-8">
						<div class="card-body">
							<p class="card-title text-black text-center fw-bold">Pour les développeurs</p>
							<h1 class="card-text text-black  lh-base">Raccourcir plus de liens avec moins de tracas.</h1>
							<h4 class="card-text">
								<small class="text-black lh-base ">Créez efficacement des expériences de liens de marque dans une gamme illimitée de workflows programmatiques.</small>
							</h4>
						</div>
					</div>
					<div class="col-md-4">
						<img src="/images/developer.jpg" class="img-fluid rounded-start" alt="...">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
